<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="com.violin.dao.mapping.userinfo.UserInfoMapper">
<resultMap id="userInfo" type="com.violin.model.userinfo.UserInfo">
	<result property="id" column="id"/>
	<result property="realName" column="real_name"/>
	<result property="nickName" column="nick_name"/>
	<result property="images" column="images"/>
	<result property="sex" column="sex"/>
	<result property="age" column="age"/>
	<result property="phone" column="phone"/>
	<result property="registerTime" column="register_time"/>
</resultMap>
<insert id="insertUserInfo" parameterType="com.violin.model.userinfo.UserInfo">
insert into user_info
(	id,
	real_name,
	nick_name,
	images,
	sex,
	age,
	phone,
	register_time
)values(
	#{id},
	#{realName},
	#{nickName},
	#{images},
	#{sex},
	#{age},
	#{phone},
	#{registerTime}
)
</insert>
<delete id="deleteUserInfoById">
	delete from user_info
	where id=#{id}
</delete>
<delete id="deleteUserInfoAll">
	delete from user_info
</delete>
<select id="findUserInfoById" resultMap="userInfo">
	select * from user_info
	where id=#{id}
</select>
<select id="findUserInfoList" resultMap="userInfo">
	select * from user_info
</select>
<update id="updateUserInfo" parameterType="com.violin.model.userinfo.UserInfo">
update user_info
<set>
	id=#{id},
	real_name=#{realName},
	nick_name=#{nickName},
	images=#{images},
	sex=#{sex},
	age=#{age},
	phone=#{phone},
	register_time=#{registerTime}
</set>
<where>	
id=#{id}	
</where>	
</update>
<delete id="deleteUserInfoListByIds" parameterType ="java.lang.String">
	delete from user_info
	where id in
	<foreach item="idItem" collection="array" open="(" separator="," close=")">#{idItem}</foreach>
</delete>
<delete id="deleteUserInfoList" parameterType ="com.violin.model.userinfo.UserInfo">
	delete from user_info
	where id in
	<foreach collection="list" item="item" index= "index" open="(" separator="," close=")">#{item.id}</foreach>
</delete>
<insert id="insertUserInfoList" parameterType="java.util.List">
insert into user_info
(	id,
	real_name,
	nick_name,
	images,
	sex,
	age,
	phone,
	register_time
)values<foreach collection="list" item="item" index= "index" separator="," >
(	#{item.id},
	#{item.realName},
	#{item.nickName},
	#{item.images},
	#{item.sex},
	#{item.age},
	#{item.phone},
	#{item.registerTime}
)</foreach>
</insert>
<update id="updateUserInfoList" parameterType="java.util.List">
<foreach collection="list" item="item" index= "index" separator=";" >
update user_info
set
	id=#{item.id},
	real_name=#{item.realName},
	nick_name=#{item.nickName},
	images=#{item.images},
	sex=#{item.sex},
	age=#{item.age},
	phone=#{item.phone},
	register_time=#{item.registerTime}

where	
id=#{item.id}	
</foreach>
</update>
<select id="findUserInfoQuery" resultMap="userInfo">
	select * from user_info
	<where>
	 <if test="id!=null and id!=''"> 
		AND id=#{id}
	</if>
	 <if test="realName!=null and realName!=''"> 
		AND real_name=#{realName}
	</if>
	 <if test="nickName!=null and nickName!=''"> 
		AND nick_name=#{nickName}
	</if>
	 <if test="images!=null and images!=''"> 
		AND images=#{images}
	</if>
	 <if test="sex!=null and sex!=''"> 
		AND sex=#{sex}
	</if>
	 <if test="age!=null and age!=''"> 
		AND age=#{age}
	</if>
	 <if test="phone!=null and phone!=''"> 
		AND phone=#{phone}
	</if>
	 <if test="registerTime!=null and registerTime!=''"> 
		AND register_time=#{registerTime}
	</if>
</where>
	</select>
<select id="findUserInfoQueryPage" resultMap="userInfo">
	select * from user_info
	<where>
	 <if test="id!=null and id!=''"> 
		AND id=#{id}
	</if>
	 <if test="realName!=null and realName!=''"> 
		AND real_name=#{realName}
	</if>
	 <if test="nickName!=null and nickName!=''"> 
		AND nick_name=#{nickName}
	</if>
	 <if test="images!=null and images!=''"> 
		AND images=#{images}
	</if>
	 <if test="sex!=null and sex!=''"> 
		AND sex=#{sex}
	</if>
	 <if test="age!=null and age!=''"> 
		AND age=#{age}
	</if>
	 <if test="phone!=null and phone!=''"> 
		AND phone=#{phone}
	</if>
	 <if test="registerTime!=null and registerTime!=''"> 
		AND register_time=#{registerTime}
	</if>
</where>
		limit #{startIndex},#{limit}

</select>
<select id="findCountUserInfoQuery" resultType="java.lang.Integer">
	select count(*) from user_info
	<where>
	 <if test="id!=null and id!=''"> 
		AND id=#{id}
	</if>
	 <if test="realName!=null and realName!=''"> 
		AND real_name=#{realName}
	</if>
	 <if test="nickName!=null and nickName!=''"> 
		AND nick_name=#{nickName}
	</if>
	 <if test="images!=null and images!=''"> 
		AND images=#{images}
	</if>
	 <if test="sex!=null and sex!=''"> 
		AND sex=#{sex}
	</if>
	 <if test="age!=null and age!=''"> 
		AND age=#{age}
	</if>
	 <if test="phone!=null and phone!=''"> 
		AND phone=#{phone}
	</if>
	 <if test="registerTime!=null and registerTime!=''"> 
		AND register_time=#{registerTime}
	</if>
</where>
</select>
</mapper>
