<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.myviolin.db.mapper.UserLoginMapper">
  <resultMap id="BaseResultMap" type="cn.myviolin.model.userLogin.UserLogin">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="login_account" jdbcType="VARCHAR" property="loginAccount" />
    <result column="login_pwd" jdbcType="VARCHAR" property="loginPwd" />
    <result column="login_code" jdbcType="VARCHAR" property="loginCode" />
  </resultMap>
</mapper>